<mat-nav-list>
  <h1 mat-subheader>{{title}}</h1>
  <ng-template ngFor let-hero [ngForOf]="heroes">
    <mat-list-item (click)="onNavigate.emit(hero.id)">
      <img matListAvatar src="{{hero.thumbnail}}" alt="{{hero.name}}" />
      <p matLine>{{hero.name}}</p>
      <span class="spacer"></span>
      <mat-spinner *ngIf="loading === hero.id" diameter="30"></mat-spinner>
      <mat-icon
        *ngIf="favorites[hero.id] && loading !== hero.id"
        color="primary"
        svgIcon="favorite"
       ></mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-template>
</mat-nav-list>
