/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

@keyframes heartbeat
{
  0%
  {
    background-size: 150px auto;;
  }
  10%
  {
    background-size: 200px auto;;
  }
  20%
  {
    background-size: 150px auto;;
  }
  30%
  {
    background-size: 200px auto;;
  }
  40%
  {
    background-size: 150px auto;;
  }
  100%
  {
    background-size: 150px auto;;
  }
}

body {
  margin: 0px;

  .main-content {
    max-width: 800px;
    margin: auto;
  }

  app-root:empty:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('/assets/marvel.svg') no-repeat center center;
    background-size: 200px auto;
    animation: heartbeat 1.5s infinite;
  }
}

mat-toolbar {
  img {
    height: 100%;
    width: auto;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-dialog-content {
  .img-wrapper {
    float: left;
    margin-right: 10px;

    img {
      max-width: 300px;
      height: auto;
    }
  }

  mat-list {
    width: calc(100% - 320px);
    float: right;
    margin-left: 10px;

    &.mat-list .mat-list-item {
      height: auto;
      padding-bottom: 5px;
    }
  }
}

mat-dialog-actions {
  direction: rtl;
}

.checkbox-in-title {
  float: right;
}