/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  margin: 0px;

  .main-content {
    max-width: 800px;
    margin: auto;
  }
}

mat-toolbar {
  img {
    height: 100%;
    width: auto;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-dialog-content {
  .img-wrapper {
    float: left;
    margin-right: 10px;

    img {
      max-width: 300px;
      height: auto;
    }
  }

  mat-list {
    width: calc(100% - 320px);
    float: right;
    margin-left: 10px;

    &.mat-list .mat-list-item {
      height: auto;
      padding-bottom: 5px;
    }
  }
}

mat-dialog-actions {
  direction: rtl;
}